In [7]:
l=eval(input("Enter list : "))
print(l)

Enter list : 12
12

In [9]:
l=[1,2,3,4,5]
l[2]=10
print(l)

[1, 2, 10, 4, 5]

In [11]:
n=[1,2,2,3,3,4,4]
print(len(n))
print(n.count(2))
print(n.index(4))

7
2
5

In [14]:
# append()
l=["m","n"]
print(l)
l.append("A")
l.append("B")
l.append("C")
print(l)

['m', 'n']
['m', 'n', 'A', 'B', 'C']

In [18]:
# insert()
n=[1,2,3,4,5]
n.insert(1,28)
print(n)
n.insert(10,7) # if not 10 index then it will add at last.
print(n)
n.insert(-1,90) # it will add 90 at second last
print(n)

[1, 28, 2, 3, 4, 5]
[1, 28, 2, 3, 4, 5, 7]
[1, 28, 2, 3, 4, 5, 90, 7]

In [20]:
# extends()
l1=["Apple","Mango"]
l2=["orange","watermelon"]
l1.extend(l2)
l2.extend(l1)
print(l1)
print(l2)

['Apple', 'Mango', 'orange', 'watermelon']
['orange', 'watermelon', 'Apple', 'Mango', 'orange', 'watermelon']

In [2]:
# remove()
n=[1,2,3,1,5]
n.remove(1)
print(n)

# n.remove(4) # ValueError: list.remove(x): x not in list
print(n)

if 40 in n: # it will not give error
    n.remove(40)
print(n)

[2, 3, 1, 5]
[2, 3, 1, 5]
[2, 3, 1, 5]

In [7]:
#pop()
n=[10,20,30,40,50]
y=[]
# print(y.pop() IndexError: pop from empty list
print(n.pop())
print(n.pop(1))
# print(n.pop(10)) IndexError: pop index out of range

50
20

In [9]:
# clear()
n=[1,2,3,4,5]
n.clear()
print(n)

[]

In [13]:
# reversed(),sort(),sort(reverse=True)
n=[1,2,3,4,5]
n.reverse()
print(n)
n1=[1,2,3,4,5]
n1.sort()
print(n1)
n1.sort(reverse=True)
print(n1)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [16]:
a=[1,2,3]
b=[4,5,6]
print(a+b)
print(a+[4])
# print(a+4)   TypeError: can only concatenate list (not "int") to list
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
x=[50,20,30]
y=[50,20,30,100]
print(x<y)

True

In [23]:
n=[10,20,30,40]
print(10 in n)
print(40 not in n)
print(50 in n)

True
False
False

In [28]:
l1=[10,20,30,40,50]
x1=l1
x1[2]=100
print(l1)
l2=[10,20,30,40,50]
x2=l[:]  # or l2.copy()
x2[2]=100
print(l2)

[10, 20, 100, 40, 50]
[10, 20, 30, 40, 50]

In [33]:
# Nested List
n=[10,20,30,[40,50],[60,70,80,[100,200]]]
print(n[3])
print(n[3][0])
print(n[4][3][1])

[40, 50]
40
200

In [40]:
n=[[10,20,30],[40,50,60],[70,80,90]]
for i in n:
    for j in i:
        print(j,end=" ")
    print()

10 20 30
40 50 60
70 80 90

In [61]:
n=[[10,20,30],[40,50,60],[70,80,90]]
# for i in range(len(n)):
#     for j in range(len(n[i])):
#         print(n[j][i],end=" ")
#     print()
    
for i in range(len(n[0])):
    x=[row[i] for row in n]
    print(x)

[10, 40, 70]
[20, 50, 80]
[30, 60, 90]

In [60]:
# List Comprehension
# l=[expression for item in lis if condition]
s=[x*x for x in range(1,11)]
print(s)
v=[2**x for x in range(1,6)]
print(v)
m=[x for x in s if x%2==1]
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[1, 9, 25, 49, 81]

In [66]:
# WAP elements with frequency greater than a given value 'k'
l=[1,1,1,1,2,2,2,2,3,3,5,5,5,6,7]
k=2
l1=[]
c=0
for i in l:
    c=l.count(i)
    if c>k and i not in l1:
        l1.append(i)
print(l1)

[1, 2, 5]

In [70]:
d={}
print(type(d))
d1=dict()
print(type(d1))
s=set()
print(type(s))

<class 'dict'>
<class 'dict'>
<class 'set'>

In [74]:
d={}
d[10]="Arman"
d[20]="Ayan"
d[30]="Lucky"
print(d)

d1=dict([(10,'Arman'), (20,'Ayan'), (30,'Lucky')])
print(d1)

{10: 'Arman', 20: 'Ayan', 30: 'Lucky'}
{10: 'Arman', 20: 'Ayan', 30: 'Lucky'}

In [87]:
d={10: 'Arman', 20: 'Ayan', 30: 'Lucky'}
print(d[10])
# print(d[40])   KeyError: 40

if 40 in d:
    print(d[40])
    
d[40]="Sumit"
print(d)
d[10]="Sachin"
print(d)

del d[40]
print(d)

d.clear()
print(d)

del d
# print(d) NameError: name 'd' is not defined

Arman
{10: 'Arman', 20: 'Ayan', 30: 'Lucky', 40: 'Sumit'}
{10: 'Sachin', 20: 'Ayan', 30: 'Lucky', 40: 'Sumit'}
{10: 'Sachin', 20: 'Ayan', 30: 'Lucky'}
{}

In [89]:
square={x:x*x for x in range(1,6)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [92]:
d={10:20,30:40,50:60}
x={100:50,200:40,30:600}
d.update(x)
print(d)

{10: 20, 30: 600, 50: 60, 100: 50, 200: 40}

In [99]:
d={10: 'Arman', 20: 'Ayan', 30: 'Lucky'}
print(d[10])
print(d.get(10))
# print(d[40]) KeyError: 40
print(d.get(40))

print(d.get(10,"Guest"))
print(d.get(40,"Guest"))

Arman
Arman
None
Arman
Guest

In [102]:
d={10: 'Arman', 20: 'Ayan', 30: 'Lucky'}
print(d.popitem())
print(d)
d1={}
# print(d1.popitem()) KeyError: 'popitem(): dictionary is empty'

(30, 'Lucky')
{10: 'Arman', 20: 'Ayan'}

In [109]:
d={10: 'Arman', 20: 'Ayan', 30: 'Lucky'}
print(d.keys())
print(d.values())
print(d.items())

for i in d.keys():
    print(i)
for i in d.values():
    print(i)
for i in d.items(): # in form of tuples
    print(i)
for i,j in d.items():
    print(i,"->",j)

dict_keys([10, 20, 30])
dict_values(['Arman', 'Ayan', 'Lucky'])
dict_items([(10, 'Arman'), (20, 'Ayan'), (30, 'Lucky')])
10
20
30
Arman
Ayan
Lucky
(10, 'Arman')
(20, 'Ayan')
(30, 'Lucky')
10 -> Arman
20 -> Ayan
30 -> Lucky

In [110]:
d={10: 'Arman', 20: 'Ayan', 30: 'Lucky'}
print(d.setdefault(40,"Pavan"))
print(d)
print(d.setdefault(10,"Sachin"))
print(d)

Pavan
{10: 'Arman', 20: 'Ayan', 30: 'Lucky', 40: 'Pavan'}
Arman
{10: 'Arman', 20: 'Ayan', 30: 'Lucky', 40: 'Pavan'}

In [2]:
s={1,2,3,4,5,5,5,1,2,5,5,6}
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [4]:
s={35,25,3,4,5,5,5,1,2,5,5,6}
print(s)
print(type(s))

{1, 2, 3, 35, 4, 5, 6, 25}
<class 'set'>

In [10]:
s=set()
l=[1,3,6,4,5,2]
s=set(l)
print(s)

x="LJIET"
s=set(x)
print(s)

y=range(1,6)
s=set(y)
print(s)

l=[10,20,30,40,10,20,30]
print(set(l))

{1, 2, 3, 4, 5, 6}
{'T', 'L', 'I', 'E', 'J'}
{1, 2, 3, 4, 5}
{40, 10, 20, 30}

In [20]:
# MAthematical Operation:

# union()
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))
print(x|y)
print()

# intersection()
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))
print(x&y)
print()

# Difference()
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))
print(x-y)
print()
print(y.difference(x))
print(y-x)
print()

# symmetric_differenec()
print(x.symmetric_difference(y))

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

{40, 30}
{40, 30}

{10, 20}
{10, 20}

{50, 60}
{50, 60}

{10, 50, 20, 60}

In [22]:
x={"a","b","c"}
y={"f","e","d","c","b","a"}
z=x.issubset(y)
print(z)
z=y.issuperset(x)
print(z)

True
True

In [24]:
# ADD(x)
s={10,20,30}
s.add(40)
print(s)

{40, 10, 20, 30}

In [26]:
#UPDATE(x,y,z)
s={10,20,30}
l=[40,50,60,70]
s.update(l,range(10,20,3),range(1,6))
print(s)

{1, 2, 3, 4, 5, 70, 40, 10, 13, 16, 50, 19, 20, 60, 30}

In [30]:
#COPY()
s1={1,2,3,4}
s2={1,2,3,4}

x1=s1
x1.add(5)
print(s1)

x2=s2.copy()
x2.add(5)
print(s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [32]:
#POP()
s={40,30,20,10,50}
print(s)
print(s.pop())
print(s)

{40, 10, 50, 20, 30}
40
{10, 50, 20, 30}

In [47]:
#REMOVE()
s={10,20,30,40,50}
s.remove(30)
print(s)
s.remove(60)  # ERROR if element ot present
print(s)

{40, 10, 50, 20}

KeyError: 60

In [49]:
#DISCARD()
s={10,20,30,40,50}
s.discard(30)
print(s)
s.discard(60)
print(s)

{40, 10, 50, 20}
{40, 10, 50, 20}

In [51]:
#CLEAR()
s={10,20,30,40}
s.clear()
print(s) # Remember the output of blank set

set()

In [53]:
s1={x*x for x in range(1,11)}
print(s1)

s2={2**x for x in range(1,6)}
print(s2)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{32, 2, 4, 8, 16}

In [1]:
# Frozen Set()
x=["Apple","Banana","Cherry"]
s=set(x)
s.add("Pineaple")
print(s)

f=frozenset(x)
f.add("Pineaple")
print(f)

{'Cherry', 'Banana', 'Apple', 'Pineaple'}

AttributeError: 'frozenset' object has no attribute 'add'

In [4]:
s=lambda n:n*n
print(s(3))
print(s(4))

9
16

In [6]:
s=lambda a,b:a+b
print(s(10,20))

30

In [12]:
l=[1,2,3,4,5]
l1=list(map(lambda x:2*x,l))
print(l)
print(l1)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

In [14]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=list(map(lambda x,y:x+y,l1,l2))
print(l3)

[6, 8, 10, 12]

In [18]:
from functools import *
# import functools  them we have to use functools.reduce()
l1=[1,2,3,4,5,6]
sum=reduce(lambda x,y:x+y,l1)
print(sum) # always output will be single element
mul=reduce(lambda x,y:x*y,l1)
print(mul)

21
720

In [26]:
def isEven(x):
    if x%2==0:
        return True
    else:
        return False
    
l=[0,1,2,3,4,5,6,7,8,9,10]
l1=list(filter(isEven,l))
print(l1)

[0, 2, 4, 6, 8, 10]

In [28]:
# With lambda funct()
l=[0,1,2,3,4,5,6,7,8,9,10]
l1=list(filter(lambda x:x%2==0,l))
print(l1)

[0, 2, 4, 6, 8, 10]

In [36]:
words=["apple","banana","cherry"]
# l=list(map(str.upper,words)) 
l=list(map(lambda x:x.upper(),words))
print(l)

['APPLE', 'BANANA', 'CHERRY']

In [40]:
words=["apple","banana","cherry","date","kiwi","orange"]
l=list(filter(lambda x:len(x)>5,words))
print(l)

['banana', 'cherry', 'orange']

In [43]:
min=(lambda x,y:x if x<y else y)
print(min(101*99,102*98))

9996

In [46]:
# WAP to find numbers divisible by 19 or 13 from a list of numbers using lambda func.
l=[19,38,13,26,5,6,4,7]
l1=list(filter(lambda x:x%19==0 or x%13==0,l))
print(l1)

[19, 38, 13, 26]

In [52]:
# sorted() used only in tuple,str,list
l=["apple","banana","cherry","date"]
l1=sorted(l,key=len)
print(l1)

a=["apple","banana","cherry","pineaple"]
l2=sorted(a,key=lambda x:x[-1])
print(l2)

['date', 'apple', 'banana', 'cherry']
['banana', 'apple', 'pineaple', 'cherry']

In [62]:
l=[(1,5),(2,3),(3,8),(4,1)]
l1=sorted(l,key=lambda x:x[-1])
print(l1)

[(4, 1), (2, 3), (1, 5), (3, 8)]

In [65]:
# sort used only in list
l=["apple","banana","kiwi","pineaple"]
a.sort(key=lambda x:x[-1])
print(a)

['banana', 'apple', 'pineaple', 'cherry']

In [70]:
t="apple#banana#cherry#orange"
a=t.split("#")
print(a)
x=t.split("#",1)
print(x)
y=t.split("#",2)
print(y)
z=t.split("#",3)
print(z)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana#cherry#orange']
['apple', 'banana', 'cherry#orange']
['apple', 'banana', 'cherry', 'orange']

In [92]:
# Given a list l of size n ,you need to count the number of special element in the given list and element is special if 
#  removal of that element make the list balance the list will be balance if sum of even index element is equal to the sum
#  of odd index element.Also print the updated list after removal of special element.

l=eval(input("Enter List : "))
print("Orginal list : ",l)
count=0

for i in range(len(l)):
    c=l.copy()
    c.pop(i)
    sum1=sum2=0
    for j in c[::2]:
        sum1+=j
    for k in c[1::2]:
        sum2+=k
    if sum1==sum2:
        print("Index to remove : ",i)
        count+=1
        print("List after removal of index",i,"is : ",c)
print("Total special character : ",count)

Enter List : [2,1,6,4]
Orginal list :  [2, 1, 6, 4]
Index to remove :  1
List after removal of index 1 is :  [2, 6, 4]
Total special character :  1

In [94]:
x=[(5,)==(5,),(5,)==(5)]
print(x)

[True, False]

In [95]:
1+True

2